body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF8F0;
}

nav {
    background-color: #FFE5B4;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}

button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #F4976C;
    color: white;
    border: #E36414 1px solid;
    border-radius: 5px;
}

button:hover {
    background-color: #E36414;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
